
<!--<div class="app-body">-->

<!--<app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">-->
<!--  <app-sidebar-nav [navItems]="navItems"></app-sidebar-nav>-->
<!--  <app-sidebar-minimizer></app-sidebar-minimizer>-->
<!--</app-sidebar>-->


<!--</div>-->
<div class="container">
  <div class="col_container">
    <div class="m_col">
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Avatar_Abbas_-_cartoon_transparent_200px.png" alt="">
        <h3>quach's shop</h3>
      </div>
      <div class="user">
        <img src="https://i.dlpng.com/static/png/6728153_preview.png" alt="">
        <p>Welcome, <span>Hong Thu</span>!</p>
      </div>
      <div class="nav_bar">
        <ul>
          <li class="home">
            <h3>
              <p><i class="fas fa-home"></i>Home</p><i class="fas fa-chevron-down down"></i>
            </h3>
            <div class="home_drop">
              <ul>
                <li><a href="">Dashboard 1</a></li>
                <li><a href="">Dashboard 1</a></li>
                <li><a href="">Dashboard 1</a></li>
              </ul>
            </div>
          </li>
          <li class="form">
            <h3>
              <p><i class="fa fa-edit"></i>Form</p><i class="fas fa-chevron-down down"></i>
            </h3>
            <div class="form_drop">
              <ul>
                <li><a href="">Add product</a></li>
                <li><a href="">Edit product</a></li>
              </ul>
            </div>
          </li>
          <li>
            <h3>
              <p><i class="fas fa-table"></i>Table</p><i class="fas fa-chevron-down down"></i>
            </h3>
            <div class="table_drop">
              <ul>
                <li><a href="">Products</a></li>
                <li><a href="">Users</a></li>
              </ul>
            </div>
          </li>
          <li>
            <h3>
              <p><i class="fas fa-chart-bar"></i>Data Presentation</p><i
              class="fas fa-chevron-down down"></i>
            </h3>
            <div class="dpre_drop">
              <ul>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
              </ul>
            </div>
          </li>
          <li>
            <h3>
              <p><i class="fas fa-copy"></i>Layouts</p><i class="fas fa-chevron-down down"></i>
            </h3>
            <div class="layouts_drop">
              <ul>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
              </ul>
            </div>
          </li>
          <li>
            <h3>
              <p><i class="fas fa-desktop"></i>UI Elements</p><i class="fas fa-chevron-down down"></i>
            </h3>
            <div class="ui_drop">
              <ul>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="./jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="./slider.js"></script>
