
<div class="container">
  <div class="col_container">
    <div class="m_col">
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Avatar_Abbas_-_cartoon_transparent_200px.png" alt="">
        <h3>quach's shop</h3>
      </div>
      <div class="user">
        <img src="https://i.dlpng.com/static/png/6728153_preview.png" alt="">
        <p>Welcome, <span>Hong Thu</span>!</p>
      </div>
      <div class="nav_bar">
        <ul>
          <li class="home">
            <h3>
              <p><i class="fas fa-home"></i>Home</p><i class="fas fa-chevron-down down"></i>
            </h3>
            <div class="home_drop">
              <ul>
                <li><a href="">Dashboard 1</a></li>
                <li><a href="">Dashboard 1</a></li>
                <li><a href="">Dashboard 1</a></li>

              </ul>
            </div>
          </li>
          <li class="form">
            <h3>
              <p><i class="fa fa-edit"></i>Form</p><i class="fas fa-chevron-down down"></i>
            </h3>
            <div class="form_drop">
              <ul>
                <li><a href="">Add product</a></li>
                <li><a href="">Edit product</a></li>
              </ul>
            </div>
          </li>
          <li>
            <h3>
              <p><i class="fas fa-table"></i>Table</p><i class="fas fa-chevron-down down"></i>
            </h3>
            <div class="table_drop">
              <ul>
                <li><a href="">Products</a></li>
                <li><a href="">Users</a></li>
              </ul>
            </div>
          </li>
          <li>
            <h3>
              <p><i class="fas fa-chart-bar"></i>Data Presentation</p><i
              class="fas fa-chevron-down down"></i>
            </h3>
            <div class="dpre_drop">
              <ul>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
              </ul>
            </div>
          </li>
          <li>
            <h3>
              <p><i class="fas fa-copy"></i>Layouts</p><i class="fas fa-chevron-down down"></i>
            </h3>
            <div class="layouts_drop">
              <ul>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
              </ul>
            </div>
          </li>
          <li>
            <h3>
              <p><i class="fas fa-desktop"></i>UI Elements</p><i class="fas fa-chevron-down down"></i>
            </h3>
            <div class="ui_drop">
              <ul>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
                <li><a href="">hong thu ne</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="table_o">
    <div class="list_product">
      <h1>List products</h1>
      <table>
        <tr>
          <th><input type="checkbox" name=""></th>
<!--          <th style="width: 50px;">Hình ảnh</th>-->
          <th>Tên sản phẩm</th>
          <th>Loại</th>
          <th>Số lượng</th>
          <th>Thương hiệu</th>
<!--          <th>Mô tả</th>-->
          <th>Giá</th>
          <th>Giảm giá</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let p of product">
          <td><input type="checkbox" name=""></td>
<!--          <td style="width: 50px;">{{p.image}}</td>-->
          <td>{{p.model}}</td>
          <td>
            <p style="color: #2A3F54" *ngIf="p.gender == 1">Nam</p>
            <p style="color: #2A3F54" *ngIf="p.gender == 2">Nữ</p>
            <p style="color: #2A3F54" *ngIf="p.gender == 3">Cả hai</p>
          </td>
          <td>{{p.quantity}}</td>
          <td>{{p.brand}}</td>
<!--          <td>{{p.description}}</td>-->
          <td>{{p.price | currency: "VND"}}</td>
          <td>{{p.discount}}<span style="color: #2A3F54" *ngIf="p.discount > 0">%</span></td>
          <td><a (click)="deleteProduct(p.id)">Delete</a></td>
          <td><a href="">Edit</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
