<header class="f-center">
  <div class="container f-space">
    <div class="logo">
      <i class="fas fa-tshirt"></i>
      <a href="">shop</a>
    </div>
    <div class="nav">
      <div class="line">
        <i class="fas fa-bars"></i>
      </div>
      <ul class="f-space">
        <li><a href="" [routerLink]="['/home']" class="Home">Trang chủ</a></li>
        <li><a href="" [routerLink]="['/home']" class="Collections">Bộ sưu tập</a></li>
        <li><a href="" [routerLink]="['/product']" class="Product">Sản phẩm</a></li>
        <li><a href="" [routerLink]="['/home']">Tin tức</a></li>
        <li><a href="" [routerLink]="['/home']" class="Contact">Liên hệ</a></li>
      </ul>
    </div>

    <div class="user f-space">
      <div class="users">
        <a href="" *ngIf="user == ''" style="display:flex; width: 100px;">
          <span>Tài khoản </span>
          <i style="margin-left: 5px;" class="fas fa-user-circle"></i>
        </a>
        <a href="" *ngIf="user != ''" style="display:flex; width: 100px;">
          <span>Hi,{{user}}!</span>
          <i style="margin-left: 5px;" class="fas fa-user-circle"></i>
        </a>

        <div class="infor none">
          <ul *ngIf="user == ''">
            <li><i class="fas fa-sign-in-alt"></i><a href="" [routerLink]="['/login']">Đăng nhập</a></li>
            <li><i class="fas fa-user-plus"></i><a href="" [routerLink]="['/register']">Đăng ký</a></li>
          </ul>
          <ul *ngIf="user != ''">
            <li><i class="fas fa-sign-in-alt"></i><a href="">Tài khoản</a></li>
            <li><i class="fas fa-user-plus"></i><a href="" (click)="signOut()">Đăng xuất</a></li>
          </ul>
        </div>
      </div>
      <div class="cart f-center">
        <a href="" [routerLink]="['/cart']">
          <i class="fas fa-cart-plus"></i>
          <p>0</p>
        </a>
      </div>
    </div>
  </div>

</header>
<div class="product">
  <div class="sort f-space">
    <div class="brands">
      <form action="">
        <label for="brands">Brand:</label>
        <select class="input_search" name="brands" id="brands">
          <option *ngFor="let p of product">{{p.brand}}</option>
        </select>
      </form>
    </div>
    <div class="gender">
      <h2>Gender:</h2>
      <input type="checkbox" name="" id="female">
      <label for="female">Female</label>
      <input type="checkbox" name="" id="male">
      <label for="male">Male</label>
    </div>
  </div>
  <input class="input_search" type="text" [(ngModel)]="f" placeholder="search...">
  <div class="items">
    <div *ngFor="let p of products | filter: f | paginate : {id: 'pagination', itemsPerPage: 8, currentPage: pageNumber}" class="item">
      <img src="{{p.image}}" alt="no img">
      <div *ngIf="p.discount > 0" class="sale f-center">{{p.discount}}%</div>
      <div class="content">
        <h3>{{p.model}}</h3>
        <h4>Giá bán: {{p.price | currency:'VND'}}</h4>
        <a [routerLink]="['/show', p.id]">Buy now!</a>
      </div>
    </div>
  </div>

  <div style="width: 100%; display: flex; justify-content: center; margin-top: 30px">
    <pagination-controls id="pagination" (pageChange)="pageNumber = $event"></pagination-controls>
  </div>
</div>
<div class="more">
  <div class="top">
    <div class="left">
      <p>Chăm sóc khách hàng</p>
      <ul>

        <li><a href="">Trung tâm trợ giúp</a></li>
        <li><a href="">Cửa hàng tin cậy</a></li>
        <li><a href="">Cửa hàng khách hàng</a></li>
        <li><a href="">Thanh toán</a></li>
        <li><a href="">Vận chuyển</a></li>
      </ul>
    </div>
    <div class="center">
      <p>Về cửa hàng</p>
      <ul>
        <li><a href="">Về cửa hàng Việt Nam</a></li>
        <li><a href="">Tuyển dụng</a></li>
        <li><a href="">Quy định cửa hàng</a></li>
        <li><a href="">Giảm giá nhanh</a></li>
        <li><a href="">Kênh bán hàng</a></li>
        <li><a href="">Chính hãng</a></li>
      </ul>
    </div>
    <div class="right">
      <p>Thanh toán</p>
      <ul>
        <li><a href="">Visa</a></li>
        <li><a href="">Mastercard</a></li>
        <li><a href="">Airpay</a></li>
        <li><a href="">Installment</a></li>
      </ul>
    </div>
  </div>
  <div class="bot">
    <div class="sn f-space">
      <a href="fb.com/qquach96"><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-twitter-square"></i></a>
      <a href=""><i class="fab fa-linkedin"></i></a>
    </div>
    <p>Copyright © 2020, All Rights Reserved, Designed by <a href="">A Thư nè!</a></p>
  </div>
</div>
